<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- 引用Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/http-vue-loader/src/httpVueLoader.min.js"></script>
    <script src="nss.js?v=19"></script>
    <script src="/replays/replay.js"></script>
    <!--
            这两个函数调用，我们也移到vue里调用吧
            <script>
                accessLevel();
                listJudgers();
            </script>
        -->
    
    <style>
        #replayListContainer {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #00000080;
            z-index: 100;
        }

        #replayList {
            margin: auto;
            max-width: 90;
            background-color: white;
        }
    </style>
</head>

<body>
    Hello, World!
    <div id="nss">

        <div id="loginStatus">
            <!-- {{username}} 就是 Vue 的 data 里的那个 username -->
            <p id="showUsername">当前身份：{{username}}</p>
            <!-- 在vue里，可以使用 v-if 来控制元素是否显示 -->
            <!-- 比如说只在 accessLevel == 0 的情况下显示这个元素 -->
            <a href="login.html" id="toLoginPage" v-if="accessLevel == 0">登录</a>
        </div>

        <div id="judgersInfo">
            <table id="judgersInfoTable">
                <thead>
                    <th>鉴定员名称</th>
                    <th>个人信息</th>
                    <th>
                        <div id="setJudger" v-if="accessLevel > 0">
                            <a href="admincontrol.html">编辑鉴定员</a>
                        </div>
                    </th>
                </thead>
                <tbody>
                    <tr v-for="row in judgers">
                        <td>{{ row.username }}</td>
                        <td colspan="2">{{ row.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 访客模式下也可以在输入完整正确 QQ 号的情况下进行查找 -->
        <div v-if="accessLevel == 0">
            <input type="text" v-model="guestQQInput" placeholder="完整QQ号" />
            <div>{{ guestQueryStatus }}</div>
        </div>
        <div id="playersInfo">
            <table id="playersInfoTable">
                <tr>
                    <td v-for="column in filteredColumns">
                        <player-column
                            v-bind:type="column" 
                            v-model="input"
                            v-bind:editable="accessLevel > 0 || column != 'replays'"
                            v-on:replay-click="showReplayList(input.name, true)">
                        </player-column>
                    </td>
                    <!--
                    <td v-if="accessLevel > 0">
                        <button v-bind:disabled="isInputInvalidForUpload || input.uploading" v-on:click="judgePlayer">
                            {{ !!players.find(p => (p.qq == input.qq)) ? "编辑" : "添加" }}
                        </button>
                        <button v-bind:disabled="isInputInvalidForDelete || input.uploading" v-on:click="removePlayer">
                            删除
                        </button>
                    </td>
                    <td v-else></td>
                    -->
                </tr>
                <tr v-for="row in filteredPlayerArray">
                    <td v-for="column in filteredColumns">
                        <player-column
                            v-bind:type="column" 
                            v-bind:value="row"
                            v-bind:editable="false"
                            v-on:replay-click="showReplayList(row.name, false)">
                        </player-column>
                    </td>
                </tr>
            </table>
        </div>

        <!-- 只有在 replayList.showingReplayList=true 的情况下，才显示这个 div -->
        <div id="replayListContainer" v-if="replayList.showingReplayList" v-on:click="replayList.showingReplayList = false">
            <table id="replayList" v-on:click.stop>
                <!-- 只有在编辑录像的情况下，才显示这一行 -->
                <tr v-if="replayList.editingReplays">
                    <td>
                        <label for="replayIDInput">
                            添加鉴定录像（ID）
                        </label>
                        <input id="replayIDInput" type="number" v-model="replayList.replayIDInput" />
                        <!-- 一旦点击这个按钮，就把录像 ID 加入列表 -->
                        <!-- 假如输入的录像 ID 无效，就禁用按钮 -->
                        <button v-on:click="input.replays.push(parseInt(replayList.replayIDInput))" v-bind:disabled="isReplayIDInvalid">
                            添加
                        </button>
                        <br />

                    </td>
                    <td rowspan="2">
                        <label for="replayFileInput">
                            上传录像
                        </label>
                        <input id="replayFileInput" type="file" ref="replayFileInput" v-on:change="replayList.fileToBeUploaded = $refs.replayFileInput.files.item(0)" v-bind:disabled="replayList.uploadingReplay" />
                        <!-- 假如正在上传录像或者没有选择文件，就禁用按钮，也就是 v-bind:disabled 里写的 -->
                        <button v-on:click="uploadReplay" v-bind:disabled="isReplayInvalidForUpload || replayList.uploadingReplay">
                            上传
                        </button>
                        <p>
                            {{ replayList.uploadingReplay ? '正在上传录像，请稍候' : '' }}
                        </p>
                        <br />
                        所有录像
                        <ul>
                            <li v-for="replay in replayList.allReplays" v-bind:key="replay.id">
                                <replay v-bind:replayid="replay.id"></replay>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ replayList.player }}的鉴定录像列表
                        <br />
                        <!-- 假如不在编辑玩家，那么单纯显示玩家的鉴定录像 -->
                        <ul v-if="!replayList.editingReplays">
                            <li v-for="replay in replayList.playerReplays" v-bind:key="replay">
                                <replay v-bind:replayid="replay"></replay>
                            </li>
                        </ul>
                        <!-- 否则还显示一个删除按钮-->
                        <ul v-else>
                            <li  v-for="replay in input.replays" v-bind:key="replay">
                                <button v-on:click="input.replays.splice(input.replays.indexOf(replay), 1)">
                                    移除
                                </button>
                                <replay v-bind:replayid="replay"></replay>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script>
        // 创建一个vue实例
        let nss = new Vue({
            el: '#nss', // 与vue关联的元素是html里id为nss的那个div
            components: {
                'player-column': httpVueLoader('playerColumns.vue'),
            },
            data: { // 数据
                accessLevel: 0,
                username: '',
                input: { // 查询、设置玩家时使用的数据
                    qq: '',
                    name: '',
                    nickname: '',
                    level: null,
                    judgeDate: null, // 输入的日期
                    judger: '',
                    faction: [],
                    replays: [],
                    uploading: false, // 是否正在上传数据
                }, 
                qqTypedByGuest: '', // 访客模式下的按 QQ 号查询
                guestQueryStatus: '', // 查询进度
                replayList: {
                    id: null,
                    player: '',
                    playerReplays: [],
                    editingReplays: false, // 是否正在编辑录像
                    replayIDInput: null, // 目前输入的录像 ID
                    showingReplayList: false, // 是否显示录像列表
                    allReplays: [], // 网站上保存的所有录像
                    fileToBeUploaded: null, // 准备上传的录像
                    uploadingReplay: false, // 录像是否正在上传
                },
                judgers: [], // 一开始，鉴定员列表是个空数组
                players: [], // 一开始，玩家列表是个空数组
                previouslyFiltered: [], // 符合查询条件的玩家列表，一开始也是空的
                
            },
            mounted: function() {
                this.getAccessLevel();
                this.listJudgers();
                this.listPlayers(false);
            },
            methods: {
                getEmptyInput: function() {
                    return {
                        id: null,
                        qq: '',
                        name: '',
                        nickname: '',
                        level: null,
                        judgeDate: null,
                        judger: '',
                        faction: [],
                        replays: [],
                        uploading: false,
                    };
                },
                getAccessLevel: function() {
                    let token = getLocalToken();
                    fetch('nss.php?do=getAccessLevel&token=' + token)
                        .then(response => response.json())
                        .then(response => {
                            // 设置数据
                            this.username = response.username;
                            this.accessLevel = response.accessLevel;
                        });
                },
                listJudgers: function() {
                    fetch('nss.php?do=getJudgers')
                        .then(response => {
                            return response.json();
                        })
                        .then(response => {
                            // 设置数据
                            this.judgers = response.judgers;
                        });
                },
                listPlayers: function(dontRepeat) {
                    const guestUseQQ = (this.accessLevel == 0 && this.qqTypedByGuest);
                    const what = guestUseQQ ? 
                        ('getPlayerHistory&qq=' + this.guestQQInput) :
                        ('getPlayers&token=' + getLocalToken())

                    fetch('nss.php?do=' + what)
                        .then(response => response.json())
                        .then(response => {
                            // 假如没有阻止，就自动在 10 秒后启动下一次请求
                            if(!dontRepeat) {
                                setTimeout(this.listPlayers, 10000, false);
                                // 但假如现在正在上传，就放弃更新当前的结果
                                // 实际上结合上面的代码就相当于过 10 秒再更新
                                if(this.input.uploading) {
                                    return;
                                }
                            }

                            if(guestUseQQ) {
                                response.players = response.history
                                    .slice(0, 1)
                                    .find(player => player.deletedDate == null);
                                this.guestQueryStatus = '';
                            }

                            // 设置数据
                            this.players = response.players;
                            // 在需要的时候，重置输入/查找框
                            if(this.input.id != null) {
                                let matched = this.players.find(x => x.id == this.input.id);
                                if(!matched) {
                                    let newData = this.players.find(x => x.qq == this.input.qq) || this.getEmptyInput();
                                    Object.assign(this.input, newData);
                                }
                            }

                            
                        });
                },
                judgePlayer: function() {
                    this.input.uploading = true;
                    let data = JSON.parse(JSON.stringify(this.input));
                    data.token = getLocalToken();
                    data.faction = data.faction.join(',');
                    data.judgeDate = data.judgeDate || parseInt(Date.now() / 1000)
                    fetch('nss.php?do=judgePlayer', {
                        method: 'post',
                        body: JSON.stringify(data),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => response.json())
                    .then(parsed => {
                        // 上传成功之后，立即更新一次数据
                        this.listPlayers(true);
                        alert(parsed.message);
                    });
                },
                removePlayer: function() {
                    this.input.uploading = true;
                    let data = {
                        token: getLocalToken(),
                        qq: this.input.qq
                    };
                    fetch('nss.php?do=removePlayer', {
                        method: 'post',
                        body: JSON.stringify(data),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => response.json())
                    .then(parsed => {
                        // 上传成功之后，立即更新一次数据
                        this.listPlayers(true);
                        alert(parsed.message);
                    });
                },
                showReplayList: function(player, showInputList) {
                    // 开始显示录像列表：初始化与 replayList 相关的数据
                    this.replayList.player = player;
                    this.replayList.editingReplays = showInputList;
                    if (!this.replayList.editingReplays) {
                        let playerData = this.players.find(data => data.name == player);
                        this.replayList.playerReplays = playerData.replays;
                    }
                    this.loadAllReplays();
                    this.replayList.showingReplayList = true;
                },
                uploadReplay: function() {
                    let file = this.replayList.fileToBeUploaded;
                    this.$refs.replayFileInput.value = null;
                    this.replayList.uploadingReplay = true;
                    let reader = new FileReader();
                    reader.onloadend = () => {
                        // 把录像文件读取为 base64 并上传至服务器
                        let base64 = reader.result.split(',')[1];
                        fetch('/replays/replay.php?do=uploadReplay', {
                            method: 'post',
                            body: JSON.stringify({
                                fileName: file.name,
                                data: base64
                            }),
                            headers: {
                                'content-type': 'application/json'
                            }
                        })
                        .then(response => response.json())
                        .then(json => {
                            if(!(json.id)) {
                                alert("录像上传失败：" + json.message)
                            }
                            else if(json.isDuplicate) {
                                alert("录像上传被取消：这个录像已经被上传过了，ID 是 " + json.id);
                            }
                            this.replayList.uploadingReplay = false;  
                            this.loadAllReplays();
                        });
                    };
                    reader.readAsDataURL(file);        
                },
                loadAllReplays: function() {
                    // 获取所有录像的列表
                    fetch('/replays/replay.php?do=getReplayList')
                    .then(response => response.json())
                    .then(json => { 
                        this.replayList.allReplays = json.replays || [];
                        if(this.replayList.showingReplayList) {
                            setTimeout(this.loadAllReplays, 10000);
                        }
                    });
                },
            },
            computed: {
                guestQQInput: {
                    get: function() {
                        return this.qqTypedByGuest;
                    },
                    set: function(value) {
                        this.qqTypedByGuest = value;
                        this.guestQueryStatus = '正在查询...';
                        this.listPlayers(true);
                    }
                },
                isInputInvalidForUpload: function() {
                    let input = this.input;
                    return !(input.qq && input.name && input.level && input.judger && (input.faction.length > 0));
                },
                isInputInvalidForDelete: function() {
                    return this.isInputInvalidForUpload || 
                        (this.filteredPlayerArray.length != 1) || 
                        (this.filteredPlayerArray[0].id != this.input.id)  || 
                        (this.input.id == null);
                },
                filteredPlayerArray: function() {
                    let filtered = this.players.filter(playerData => {
                        let input = this.input;
                        let match = true;
                        match = match && (input.qq ? playerData.qq.startsWith(input.qq) : true);
                        match = match && (input.name ? (playerData.name.includes(input.name) || (playerData.nickname || '').includes(input.name)) : true);
                        match = match && (input.nickname ? (playerData.name.includes(input.nickname) || playerData.nickname.includes(input.nickname)) : true);
                        match = match && (input.level ? playerData.level == input.level : true);
                        match = match && (input.judgeDate ? playerData.judgeDate == input.judgeDate : true);
                        match = match && (input.judger ? playerData.judger.includes(input.judger) : true);
                        match = match && ((input.faction && input.faction.length != 0) ? playerData.faction.split(',').some(x => input.faction.includes(x)) : true);
                        match = match && (input.description ? playerData.description.includes(input.description) : true);
                        return match;
                    });

                    let currentContainsPrevious = this.previouslyFiltered.every(x => filtered.find(y => y.id == x.id));
                    let previousContainsCurrent = filtered.every(x => this.previouslyFiltered.find(y => y.id == x.id));
                    let notChanged = (currentContainsPrevious == previousContainsCurrent);
                    if (notChanged) {
                        return this.previouslyFiltered;
                    }
                    this.previouslyFiltered = filtered;

                    if(filtered.length == 1) {
                        let matched = JSON.parse(JSON.stringify(this.players.find(x => x.id == filtered[0].id)));
                        matched.faction = matched.faction.split(',');
                        Object.assign(this.input, matched);
                    }
                    else {
                        this.input.id = null;
                        this.input.avatar = null;
                        this.input.replays = [];
                    }

                    return filtered;
                },
                filteredColumns: function() {
                    if (this.accessLevel != 0) {
                        return ['qq', 'avatar', 'name', 'nickname', 'level', 'faction', 'judger', 'judgeDate', 'replays', 'description'];
                    }
                    return ['level', 'faction', 'nameAndNickname', 'avatar', 'judger', 'judgeDate', 'replays', 'description'];
                },
                isReplayInvalidForUpload: function() {
                    return this.replayList.fileToBeUploaded == null;
                },
                isReplayIDInvalid: function() {
                    return this.replayList.allReplays
                        .find(replay => replay.id == parseInt(this.replayList.replayIDInput)) 
                            == null;
                }
            }
        });
    </script>
</body>

</html>