<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <input type="text" v-model="ids" />
            <img v-for="i in ids" :src="url + 'GDI' + i + '.png'"/>
            <img v-for="i in ids" :src="url + 'NOD' + i + '.png'"/>
            <img v-for="i in ids" :src="url + 'jap' + i + '.png'"/>
        </div>

<br/>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            url: 'http://shatabrick.com/cco/ra3/images/IconsLarge/',
            iids: [],
        },
        computed: {
            ids: {
                get() {
                    return this.iids.length == 0 ?
                        new Array(88).fill(0).map((x, i) => i) :
                        this.iids;
                },
                set(value) {
                    this.iids = value.split(',')
                        .map(x => x.trim())
                        .filter(x => x.length > 0)
                        .map(x => parseInt(x)) || [];
                }
            }
        }
    });
</script>
    </body>
</html>
